html,
body,
#root,
.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f4f8fb;
  color: #1e3255;
}

main {
  flex: 1;
  padding: 2rem 1rem;
  background-color: #1e3255;
  border-radius: 8px;
  margin-top: 1rem;
}



.footer {
  background-color: #1e3255;
  color: #fff;
  font-size: 0.9rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.footer a {
  margin: 0 0.5rem;
  font-size: 0.9rem;
  color: #ffffffcc;
  text-decoration: none;
}

.navbar {
  background-color: #0c4666 !important;
  position: relative;
}

.logoImg {
  position: absolute;
  top: 18px;
  left: 50px;
}

.navbar .nav-link {


   color: #9ed5f3 !important;
  font-weight: bold;
}

.navbar .nav-link:hover {
         color: white !important;
}



@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
  }

  .navbar-nav .nav-link {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }

  .footer {
    text-align: center;
  }

  .footer .nav {
    flex-direction: column;
    gap: 0.5rem;
  }

  main {
    padding: 1rem;
  }
}